.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 800px;
  padding: 50px;
  background-color: rgba(26, 24, 122, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
  margin-bottom: 150px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #baf2e6;
  color: #000;
}

.form button {
  padding: 20px;
  background-color: #192a56;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
