.form button {
  padding: 10px;
  cursor: pointer;
  background-color: var(--btnBlue);
  color: var(--textColor);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.form {
  gap: 10px;
  display: flex;
}
